input.gsc-input{
  width:700px;
}
body {
  background: rgb(160,160,160);
  font-family: sans-serif;
}

.header {
  background: rgb(0,0,0);
  color: white;
}

.footer {
  background: rgb(0,0,0);
  color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #b30000; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a30000;
